.documentationSection {
  display: flex;
  align-items: center;
  padding: 10em 5em 10em 6em;
  padding-bottom: 2em;
}
.lendingPartner{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.step1{
  font-weight: bold;
  margin-bottom: 10px;
}
.step2{
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 22px;
}
.stringCompany{
  padding:15px 30px;
  background-color:#229e54 ;
  color:#fff;
  margin-bottom: 35px;
  width:80%;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.04em;
}
#fada{
  letter-spacing: 0.04em;
}




.subSectionA {
  flex: 1;
}
.subSectionA_Img {
  flex: 1;
}

.subSectionAH1 {
  font-weight: 800;
}

.loansFee{
  font-size: 18px;
  color:#000;
  font-weight: bold;
  margin-bottom: 10px;
}
.loansFee1{
  font-weight: 700;
  margin-bottom: 8px;
  color:#000;
}
.fased{
  margin-bottom: 25px;
}
.loansFee2{
  color:gray;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 30px;
}
.fune{
  padding:15px 20px;
  color:#fff;
  background-color: #229e54;
  border-radius: 5px;
  width:80%;
  letter-spacing: 0.004em;
  margin-bottom: 20px;
}
.Solidity4{
  font-weight: bold;
  color:#000;
  margin-bottom: 30px;
  font-size: 20px;
}
.Solidity6{
  background-color: #229e54;
  padding:15px 20px;
  width:80%;
  border-radius: 5px;
  color:#fff;
  margin-bottom: 30px;

}
.subSectionA_P {
  margin-top: 20px;
  color: #e7a98a;
  font-weight: 500;
}
.documentationSection2 {
  display: flex;
  padding: 2em 5em 2em 6em;
}

.subSectionB {
  flex: 2;
}
.subSectionC {
  flex: 4;
}


.subSectionB_Sidebar_Link {
  list-style: none;
  border-radius: 8px;
  padding: 10px 15px;
  width: 80%;
  margin: 3px 0px;
}
.subSectionB_SidebarA {
  text-decoration: none;
}


/* .subSectionB_SidebarA:hover{
background-color: cyan;
} */
.subSectionB_Sidebar_Link:hover {
  background-color: #eef8f2;
}
.subSectionB_Sidebar_Link a:hover {
  color: #55bc7e;
}
.formSearch {
  outline: none;
  border: 1px solid #55bc7e;
  border-radius: 8px;
  color: gray;
  padding-left: 20px;

  height: 48px;
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
}

.subSectionSearchDiv {
  position: relative;
  width: 73%;
}
.btnSearch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  border: none;
  color: gray;
}
.subSectionB_Sidebar_Line {
  width: 73%;
  border: 1px solid rgb(180, 179, 179);
  margin: 55px 0px;
}
.subSectionB_Sidebar_Link {
  font-weight: 600;
}
.subSectionB_Sidebar_Link.add {
  font-size: 11px !important;
  color: #e7a98a;
}
.subSectionB_SidebarA {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
.subSectionC_Line {
  width: 8%;
  height: 4px;
  background-color: #e7a98a;
  margin-bottom: 40px;
}
.subSectionC_H2 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 60px;
}
.subSectionC_Card {
  height: 130px;
  padding: 30px 15px 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #f1f1f1;
}


.subSectionC_Card:hover {
  border-top: 2px solid #55bc7e;
}

.subSectionC_Next {
  font-size: 14px;
  color: gray;
}
.SubForwardIcon {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: #e0f3e8;
  color: #55bc7e;
  font-size: 8px;
}
.cardText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.SubForwardIcon:hover {
  background-color: #55bc7e;
  color: white;
}
.positionImg {
  position: absolute;
  z-index: -1;
  left: -20px;
}
.positionImg1 {
  position: absolute;
  z-index: -2;
  left: -20px;
}
.positionImg2 {
  position: absolute;
  z-index: -2;
  right: 0px;
  margin-top: 60%;
}

.aboutEgoras_H {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
}

.aboutEgoras_P {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.aboutEgoras_P2 {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: gray;
}



.aboutEgorasImg {
  margin-bottom: 40px;
}
.aboutEgoras_card {
  display: flex;
}


.subSectionC_Next.add {
  text-align: right;
}
.requireMas{
  padding:20px 25px;
  background-color:#229e54 ;
  width:80%;
  color:#fff;
  margin-bottom: 30px;
  font-size: 14px;
  border-radius: 5px;
}

.subSectionA_Img {
  width: 100%;
}
.companyName{
  font-weight: 700;
  font-size: 16px;
  color:black;
}
.web2{
  background-color:#229e54 ;
  color:#fff;
  padding:10p 5px;
  margin-bottom: 30px;
}
.web1{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.uint{
  padding:20px 30px;
  background-color:#4ddb86 ;
  color:#fff;
  font-size:14px;
  margin-bottom: 25px;
  border-radius: 5px;
  width:80%;
  
}
.uint23{
  padding-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: gray;
  margin-bottom: 2px;
}
.uint26{
  font-weight: bold;
  color:#000;
  font-size: 22px;
  margin-bottom: 30px;
}
.saf{
  margin-bottom: 30px;
}
.uint27{
 
  width:80%;
  overflow-x: auto; 
  margin-bottom: 30px;
}
.uint33{
  color:#fff;
  
}
.uint67{
  background-color:#4ddb86 ;
  padding:20px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.imgZoom{
  cursor: zoom-in;
}
#deptP{
  cursor: zoom-in;
}
.imgZoom2{
  width:100%;
  height: 100%;
  background-color: #fff;
  top:0;
  position: fixed;
  z-index: 100;
  padding: 30px 30px;
  text-align: center;
  cursor: zoom-out;
}
.zoom2{
width:100%;
transition: transform 300ms ease 0s;
transform: translate3d(-37px, -1px, 0px) scale(2.03784);
cursor: zoom-out;
    position: absolute;
    transition: transform 300ms ease 0s;
    transform: translate3d(-37px, -1px, 0px) scale(2.03784);
    transform-origin: center center;
    will-change: transform, top, left;
    top: 186px;
    left: 386px;
    width: 651px;
    height: 255px;
    
}
#faceMe1{
  display:none;
}
#faceMe6{
  display:none;
}
@media (max-width: 768px) {
  .subSectionC_Card {
    margin: 5px auto 25px auto;
  }
  .subSectionC_Line {
    margin: 4px auto 40px auto;
  }
}
@media (max-width: 678px) {
  .EGOimg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .documentationSection {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .documentationSection2 {
    display: flex;
    flex-direction: column;
  }
  .subSectionAH1 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .subSectionA_Img {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .documentationSection2 {
    padding: 2em 1em;
  }
  .aboutEgoras_P {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .subSectionB {
    display: none;
  }
  .aboutEgoras_card {
    display: flex;
    flex-direction: column;
  }
  .subSectionC {
    margin-left: 2px;
  }
}
@media (min-width: 321px) and (max-width: 426px) {
  .subSectionC_Card {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .positionImg1,
  .positionImg {
    display: none;
  }
}
@media (min-width: 992px) {
  .subSectionC {
    margin-left: 30px;
  }
}
@media (min-width: 427px) and (max-width: 768px) {
  .subSectionC_Card {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .subSectionAH1 {
    font-size: 50px;
  }
}
@media (min-width: 1020px) {
  .subSectionAH1 {
    font-size: 60px;
  }
}
@media (min-width: 1025px) {
  .subSectionC_Card {
    width: 40%;
  }
}
@media (min-width: 769px) {
  .aboutEgoras_P {
    width: 80%;
  }
  .aboutEgoras_P2 {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .aboutEgoras_H {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .subSectionC_Card {
    width: 100%;
  }
  .Card12 {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .Card12 {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 768px) {
  .containerDiv {
    margin: 20px 25px 0px 25px;
  }
}
@media (max-width: 768px) {
  .aboutEgoras_H {
    text-align: center;
  }
}
