.heroSection3 {
  padding: 12em 0em;
  padding-bottom: 3em;
  position: relative;
    overflow: hidden;
}
.heroArea3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0em 4em;
}
.heroTxts3 {
  margin-bottom: 100px;
  margin-top: 50px;
}

.heroTitle3 {
  font-weight: 800;
  font-size: 60px;
  color: #000;
}

.hero3para {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.hero-images3 {
  position: relative;
}
.aboutPhone {
  width: 450px;
}

.AboutLine {
  width: 20%;
  height: 5px;
  border-radius: 10px;
  background: #e4a788;
}

/* .aboutTxts {
  margin-top: -100px;
} */

.ATitle {
  font-size: 44px;
  font-weight: 800;
}

.AboutUsPara {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 500;
  color: #414141;
}

.aboutArea {
  text-align: center;
}
.AboutLine {
  margin: auto;
  width: 5%;
}

.partnerlog {
  filter: grayscale();
  transition: 0.3s ease-in-out;
  width: 300px;
}
.partnerlog:hover {
  filter: none;
  transition: 0.3s ease-in-out;
}

.partnerCards {
  margin-top: 30px;
  position: relative;
  z-index: 3;
}
.footerCard3 {
  display: none;
}

.partnerCards .react-multi-carousel-item {
  align-items: center !important;
  text-align: center !important;
}
