* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

button:focus {
  outline: unset !important;
}

.jss9 {
  justify-content: flex-end !important;
}

.jss8 {
  width: 100% !important;
}
