/* mobile view code start */
/* first break point ========================================= */
@media screen and (max-width: 1245px) {
  /* hero  Section Start */
  .gtheroSection {
    padding: 12em 4em;
    padding-bottom: 3em;
  }
  .gtheroTitleloan {
    font-size: 42px;
  }
  .gtheroCaption {
    font-size: 16px;
  }
  .gtheroPara {
    font-size: 14px;
    font-weight: 700;
  }
  .getLoan {
    font-size: 13px;
  }
  .joinCommunitybtnsLinks {
    width: 70%;
  }

  .connect {
    font-size: 13px;
  }
  .gtheroPhone {
    width: 200px;
  }
  .gteggShape {
    width: 460px;
    bottom: 4px;
  }
  .gtdebitCard {
    width: 200px;
    right: -104px;
  }
  .gtcard-amount {
    width: 60%;
    left: 0;
  }
  .gtdots {
    width: 200px;
  }

  .gtcard1,
  .gtcard2 {
    padding: 4em 2em 2em 2em;
  }
  .gtsupport {
    font-size: 18px;
  }

  .gtblurDrop {
    width: 450px;
  }
  /* hero  Section end */
  /* getloan section start */

  .collateralize {
    padding: 2em 4em;
    padding-top: 1em;
  }
  .collateral-txt {
    font-size: 40px;
  }

  .collat-vector {
    width: 450px;
  }
  .collat-circle {
    width: 300px;
    position: absolute;
    left: 70px;
    z-index: -1;
    bottom: 13px;
  }
  /* getloan section end */

  /* how it works section start */

  .gttitle {
    font-size: 36px;
  }

  .gtbtn1,
  .gtbtn2 {
    font-size: 12px;
  }
  .gtbtn1.active {
    font-size: 12px;
  }
  .gthowItWorksBtns {
    width: 25%;
  }

  .gtgetStartedButton {
    font-size: 12px;
  }

  /* how it works section end */

  /* benefits section start */

  .gtbenefitsSection {
    padding: 6em 1em;
  }

  .gtbCardTitle {
    font-size: 14px;
  }

  .gtbCardPara {
    font-size: 10px;
  }

  .gtbIcon {
    width: 50px;
  }
  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    padding: 1em;
    width: 24%;
  }
  /* benefits section end */

  /* discount section */

  .discountSection {
    padding: 4em 6em;
  }
  .discountArea {
    margin: 0;
    margin-top: 100px;
  }

  /* discount section */

  /* atm cards section */
  .atmCards {
    padding: 4em 6em;
  }
  .atmCardsArea {
    margin: 0;
  }

  .atmcard-Image {
    width: 450px;
  }

  /* atm cards section */

  /* savings section */
  .savingsSection {
    padding: 4em 6em;
  }
  .savingsSection2 {
    padding: 4em 6em;
  }
  .savingsArea {
    margin: 0;
  }
  .savingsArea2 {
    margin: 0;
  }

  /* savings section */

  /* stories section */
  .gtstoriesSection {
    padding: 2em 2em;
  }
  .gtseemoreStoriesbtn {
    font-size: 14px;
  }
  /* stories section */

  /* .gthowItWorksTitle {
    margin-bottom: 100px;
  } */
  /* partners section end */

  /* compare section start */

  .compareCardContent1 {
    padding-left: 21.7em;
  }
  .cardContentTitles {
    margin-right: 30px;
  }
  .content-img {
    margin-left: 20px;
  }
  .gtcompareSection {
    padding: 4em 2em;
  }
  .gtexploreSection {
    padding: 4em 2em;
  }
  /* compare section end */
}

@media screen and (max-width: 1088px) {
  /* compare section */
  .compareCardContent1 {
    padding-left: 18em;
  }
  .cardContentTitles {
    margin-right: 0;
  }
  /* compare section */
}
@media screen and (max-width: 1059px) {
  /* hero section  */

  .gtheroSection {
    padding: 12em 2em;
    padding-bottom: 3em;
  }

  /* hero section  */

  /* colateral section */
  .collateralize {
    padding: 2em 2em;
  }
  .collateral-txt {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
  }
  .collat {
    color: #229e54;
    font-size: 30px;
    font-weight: 800;
  }

  /* colateral section */

  .gtleftBack {
    width: 400px;
  }
  .gthowItWorksBtns {
    width: 30%;
  }

  .discountSection {
    padding: 4em 4em;
  }
  .atmCards {
    padding: 4em 4em;
  }
  .savingsSection {
    padding: 4em 4em;
  }
  .savingsSection2 {
    padding: 4em 2em;
  }
  /* compare section */
  .compareCardContent1 {
    padding-left: 18em;
  }
  .cardContentTitles {
    margin-right: 0;
  }
  /* compare section */
}

@media screen and (max-width: 1024px) {
  /* hero section start */
  .gtbottomCards {
    width: 70%;
  }
  .joinCommunitybtnsLinks {
    width: 80%;
  }
  /* hero section end */

  .container {
    max-width: 942px !important;
  }

  /* how it works section start */
  .gthowItWorksBtns {
    width: 30%;
  }
  /* how it works section end */

  /* benefit section start */
  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    padding: 1em;
    height: 350px;
  }

  /* benefit section end */
  /* discount section */

  .discountSection {
    padding: 2em 4em;
  }

  /* discount section */

  /* atm cards section */
  .atmCards {
    padding: 2em 4em;
  }

  /* atm cards section */

  /* savings section */
  .savingsSection {
    padding: 2em 4em;
  }

  /* savings section */

  /* compare section start */
  .compareCardContent1 {
    padding-left: 16em;
    padding-right: 3em;
  }

  .compareCardContent2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .gtcompareSection {
    padding: 4em 4em;
  }

  /* compare section end */
  .gtexploreSection {
    padding: 4em 4em;
  }
}

@media screen and (max-width: 950px) {
  /* hero section start */
  /* .gtheroSection {
    padding: 4em 4em;
  } */
  .gtheroPhone {
    width: 180px;
  }
  .gtdebitCard {
    width: 180px;
    right: -87px;
  }
  .gtcircle {
    top: -68px;
  }
  .gtbottomCards {
    width: 85%;
  }

  .gteggShape {
    width: 410px;
    right: -107px;
  }
  .joinCommunitybtnsLinks {
    width: 90%;
  }
  .gtcard-amount {
    width: 60%;
    left: 0;
  }
  .gtdots {
    width: 200px;
  }
  .gtblurDrop {
    width: 400px;
  }
  /* hero section end */
  /* getloan section start */

  /* .collateralize {
    padding: 2em 4em;
  } */

  .collateral-txt {
    font-size: 32px;
  }

  .collat-vector {
    width: 400px;
  }
  .collat-circle {
    width: 250px;
    position: absolute;
    left: 70px;
    z-index: -1;
    bottom: 13px;
  }
  /* getloan section end */
  /* how it works section start */
  .gthowItWorksBtns {
    width: 38%;
  }

  /* how it works section end */

  /* benefits section start */
  .gtbCardTitle {
    font-size: 12px;
  }

  .gtbCardPara {
    font-size: 9px;
  }
  /* benefits section start */

  /* discount section */
  .discountSection {
    padding: 2em 2em;
    padding-left: 4em;
  }

  .discountTxt {
    font-size: 32px;
    line-height: 40px;
  }
  .discountCircle {
    right: -30px;
    width: 310px;
    bottom: 1px;
  }
  .discountVector {
    width: 250px;
    position: relative;
    z-index: 3;
  }
  .discountCard {
    position: absolute;
    width: 150px;
    right: 53px;
    z-index: 2;
    top: -89px;
    box-shadow: 0px 0px 10px #e2e2e2;
  }

  .blockChain {
    width: 350px;
  }
  /* discount section */

  /* atm cards section */

  .atmCards {
    padding: 2em 2em;
  }
  .atmcard-Image {
    width: 350px;
  }
  .atmCardsTxt {
    font-size: 32px;
    line-height: 40px;
  }

  /* atm cards section */

  /* savings section */

  .savingsSection {
    padding: 2em 2em;
  }
  .savingsCircle {
    width: 300px;
  }
  .savingsVector {
    width: 290px;
  }
  .savingsMoney {
    width: 150px;
    right: 113px;
  }
  .savingsText {
    font-size: 32px;
    line-height: 40px;
  }

  /* savings section */

  /* token section start */
  .gttokenSection {
    padding: 3em;
  }

  .gttokenDots {
    width: 120px;
  }
  /* token section end */
  /* compare section */

  .gthowItWorksTitle {
    margin-bottom: 50px;
  }

  .compareCardContent1 {
    padding-left: 14em;
    padding-right: 3em;
  }
  .gtcompareSection {
    padding: 4em 2em;
  }
  /* compare section */
  .gtexploreSection {
    padding: 4em 2em;
  }
}

@media screen and (max-width: 890px) {
  /* hero section start */
  .gtheroArea {
    display: flex;
    position: relative;
    /* flex-flow: column; */
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    grid-row-gap: 100px;
  }
  .joinCommunitybtnsLinks {
    width: 100%;
  }
  .gtheroTitleloan {
    font-size: 38px;
    /* width: 80%; */
  }
  /* .gtheroPara {
    width: 80%;
  } */
  .interestFree2 {
    font-size: 38px;
    font-weight: 800;
    color: #000;
  }
  .gtheroPhone {
    width: 150px;
  }
  .gteggShape {
    width: 380px;
  }
  .gtdebitCard {
    top: 0px;
    width: 160px;
    right: -87px;
  }
  .gtdots {
    width: 150px;
  }
  .gtx {
    left: -124px;
    bottom: 247px;
  }
  .gtcircle {
    top: -90px;
    left: -111px;
  }
  /* .gtbottomCards {
    width: 85%;
  } */
  /* hero section end */

  /* how it works section start */
  .gthowItWorks {
    padding-top: 6em;
  }
  .gthowItWorksArea {
    display: flex;
    flex-direction: column;
    grid-row-gap: 50px;
    /* justify-content: space-around; */
    align-items: center;
  }
  .gttitle {
    font-size: 48px;
    font-weight: 800;
  }
  .gtgetStartedButton {
    width: 25%;
  }
  .gthowItWorksArea2 {
    display: flex;
    flex-direction: column;
    grid-row-gap: 50px;
    /* justify-content: space-around; */
    align-items: center;
  }
  .gtgetStartedButton {
    width: 25%;
  }
  .gthowCard1Texts,
  .gthowCard2Texts,
  .gthowCard3Texts {
    text-align: center;
  }
  .gthowCard1Title,
  .gthowCard2Title,
  .gthowCard3Title {
    justify-content: center;
  }
  /* how it works section end */
  /* getloan section start */

  .collateralize {
    padding: 2em 4em;
  }
  .collateral-area {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-items: center;
    justify-content: center;
    grid-row-gap: 50px;
    flex-direction: column-reverse;
  }
  .collateral-txt {
    font-size: 40px;
    text-align: center;
  }
  .collat {
    font-size: 40px;
  }

  .collat-vector {
    width: 450px;
  }
  .collat-circle {
    width: 300px;
    position: absolute;
    left: 70px;
    z-index: -1;
    bottom: 13px;
  }
  /* getloan section end */
  /* benefits sectio  start */

  .gtbenefitsArea {
    display: flex;
    /* justify-content: center; */
    grid-row-gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  .gtbCardPara {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
  }

  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    width: 50%;
    padding: 3em 2em;
    height: 500px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
  }

  .gtbCardTitle {
    font-size: 30px;
  }
  /* benefits sectio  end */

  /* discount section */

  .discountArea {
    display: flex;
    flex-direction: column-reverse;
    grid-row-gap: 150px;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
  .discountArea2 {
    display: flex;
    flex-direction: column-reverse;
    grid-row-gap: 50px;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
  .discountSection {
    padding: 4em 4em;
  }
  .discountImages2 {
    width: 100%;
    margin-right: 0;
  }

  .discount-para {
    /* font-size: 14px; */
    font-size: 14px;
    line-height: 25px;
  }
  /* discount section */

  /* atm cards section */
  .atmCardsArea {
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-items: center; */
    /* justify-content: center; */
    grid-row-gap: 50px;
    text-align: center;
  }

  .atmCards {
    padding: 6em 4em;
  }
  .atmCards-para {
    font-size: 14px;
    line-height: 25px;
  }
  /* atm cards section */
  .discountCircle {
    right: -30px;
    width: 360px;
    bottom: 1px;
  }
  .discountVector {
    width: 300px;
    position: relative;
    z-index: 3;
  }
  .discountCard {
    position: absolute;
    width: 200px;
    right: 53px;
    z-index: 2;
    top: -89px;
    box-shadow: 0px 0px 10px #e2e2e2;
  }
  .blockChain {
    width: 400px;
  }
  .atmcard-Image {
    width: 400px;
  }
  .blockChain2 {
    margin-left: 0;
  }
  .savingsCircle {
    width: 350px;
  }
  .savingsVector {
    width: 340px;
  }
  .savingsMoney {
    width: 200px;
    right: 113px;
  }
  /* savings section */
  .atmCardsArea {
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-items: center; */
    /* justify-content: center; */
    grid-row-gap: 100px;
    align-items: center;
    text-align: center;
  }
  .savingsArea2 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    grid-row-gap: 50px;
    text-align: center;
  }
  .savingsArea {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    grid-row-gap: 50px;
    text-align: center;
  }

  .savings-para {
    font-size: 14px;
    line-height: 25px;
    /* font-size: 16px; */
  }
  .savingsSection {
    padding: 6em 4em;
  }
  /* savings section */

  /* token secion  start */

  .gttokenArea {
    display: grid;
    justify-content: center;

    grid-row-gap: 20px;
  }
  /* token secion  end */

  /* explore section start */
  .gtexploreShape {
    width: 45%;
  }
  .gtexploreArea {
    padding: 2em;

    height: 20%;
  }
  /* explore section end */

  /* compare section */
  .compareCardContent1 {
    padding-left: 10em;
    padding-right: 3em;
  }
  /* compare section */
}

@media screen and (max-width: 780px) {
  .gtheroTitleloan {
    font-size: 34px;
    width: 100%;
  }
  .interestFree2 {
    font-size: 34px;
  }
  .joinCommunitybtnsTitle {
    font-size: 26px;
  }
  .gtheroPara {
    width: 100%;
    font-size: 12px;
  }
  .gtheroPhone {
    width: 120px;
    top: -4px;
    right: -23px;
  }
  .gteggShape {
    width: 300px;
    right: -92px;
    bottom: 9px;
  }
  .gtdebitCard {
    top: 0px;
    width: 130px;
    right: -72px;
  }
  .gtdots {
    width: 150px;
    left: -59px;
  }
  .gtx {
    left: -85px;
    bottom: 210px;
  }
  .gtcircle {
    top: -90px;
    left: -51px;
  }
  .compareCardContent1 {
    padding-left: 14em;
  }
  .cardContentTitles {
    font-size: 18px;
  }
  /* ====================== */
  /* ====================== */
  /* ====================== */
  /* ====================== */

  /* collateral assets section start */
  .assets-cont-head-area {
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    grid-row-gap: 20px;
  }
  .search-input {
    width: 100%;
  }
  .assets-cont-header-arae-btns {
    width: 100%;
    display: flex;
  }

  .assets-header1 {
    width: 50%;
  }
  .assets-header2 {
    width: 50%;
  }
  .assets-category-data {
    display: flex;
    font-size: 14px;
  }

  td.assets-category-data::before {
    font-family: Inter, "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
    color: var(--theme-ui-colors-text-muted, #708390);
    content: "Collateral";
    display: block;
  }

  .assets-collateralize-button {
    width: 100%;
  }
  .assets-category-titles {
    display: none;
  }
  .assets-category-row {
    width: 100%;
    display: flex;
  }
  .assets-category-data1 {
    display: flex;
    font-size: 14px;
  }
  .assets-category-data1::before {
    font-family: Inter, "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
    color: var(--theme-ui-colors-text-muted, #708390);
    content: "Category";
    display: block;
  }
  .assets-category-data1b {
    display: flex;
    font-size: 14px;
  }

  .assets-category-data1b::before {
    font-family: Inter, "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
    color: var(--theme-ui-colors-text-muted, #708390);
    content: "Inventory fee";
    display: block;
  }
  /* collateral assets section end */
  /* ====================== */
  /* ====================== */
  /* ====================== */
  /* ====================== */
}

@media screen and (max-width: 767px) {
  /* hero section start */
  .gtheroArea {
    display: flex;
    position: relative;
    flex-direction: column;
    /* flex-flow: column; */
    align-items: center;
    /* justify-items: center; */
    /* justify-content: space-between; */
    margin-bottom: 0;
    grid-row-gap: 50px;
    text-align: center;
  }
  .gtheroSection {
    padding: 8em 2em;
    padding-bottom: 4em;
  }
  .joinCommunitybtnsLinks {
    justify-content: center;
    width: 100%;
  }
  .gtherobuttons {
    justify-content: center;
    /* font-size: 16px; */
  }
  .gtheroTitleloan {
    font-size: 48px;
    width: 100%;
  }
  .interestFree2 {
    font-size: 48px;
  }
  .joinCommunitybtnsTitle {
    font-size: 28px;
  }
  .gtheroPara {
    width: 100%;
    font-size: 16px;
  }
  .gtconnect {
    padding: 1.15em 3em;
    font-size: 16px;
  }
  .gtheroCaption {
    font-size: 18px;
  }
  .gtheroPhone {
    width: 200px;
  }
  .gteggShape {
    width: 460px;
    bottom: 10px;
    right: -151px;
  }
  .gtdebitCard {
    width: 200px;
    right: -135px;
    top: 16px;
  }
  .gtdots {
    width: 200px;
  }

  /* hero section end */

  /* how it works section start */
  .gthowItWorksBtns {
    width: 35%;
  }
  .gtbtn1,
  .gtbtn2 {
    font-size: 10px;
  }
  .gtbtn1.active {
    font-size: 10px;
  }

  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    width: 70%;
  }
  /* how it works section end */

  /* partners area start */
  .gtPartnersArea {
    padding: 0em;
  }

  .soriana {
    width: 130px;
  }
  .nec {
    width: 100px;
  }
  .teamCaro {
    align-items: center;
  }
  .gtstoriesSection {
    padding: 2em 0em;
  }

  .gtbCardPara {
    font-size: 16px;
  }
  /* partners area end */

  /* compare section */
  .gtcompareSection {
    padding: 4em 2em;
  }
  .cardContentTitles {
    font-size: 18px;
  }

  .Content {
    width: 100px;
  }
  /* compare section */

  .collateral-links {
    display: none !important;
  }

  .hide-carousel {
    display: flex;
    margin-top: 10px;
  }
  .hide-carousel .react-multi-carousel-dot--active button {
    background: #229e54;
  }

  .hide-carousel .react-multi-carousel-dot button {
    border-width: 1px;
    border-style: solid;
    border-color: #229e54;
  }
  .collateral-link1 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 645px) {
  .gteggShape {
    width: 460px;
    bottom: 10px;
    right: -113px;
  }
  .gtheroTxts {
    width: 100%;
  }
  .gtheroPhone {
    right: 17px;
  }
  .gtdebitCard {
    right: -97px;
  }
  .interestFree2 {
    font-size: 52px;
  }
  .gtheroTitleloan {
    font-size: 52px;
    width: 100%;
  }
  .gtx {
    left: -117px;
  }

  .gtheroSection {
    padding: 10em 0em;
    padding-bottom: 6em;
  }
  /* hero section start */
  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    width: 70%;
  }
  .gthowItWorksBtns {
    width: 40%;
  }
  .gthowCard1Texts,
  .gthowCard2Texts,
  .gthowCard3Texts {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .gthowCard1TextsP,
  .gthowCard2TextsP,
  .gthowCard3TextsP,
  .howCard1TextsP,
  .howCard2TextsP,
  .howCard3TextsP {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }
  .gteggShape2 {
    top: -115px;
  }
  /* compare section */
  .compareCardContent1 {
    padding-left: 9em;
  }
  .collateralize {
    padding: 2em 0em;
  }
  .collateral-txt {
    font-size: 48px;
    text-align: center;
    line-height: 60px;
  }
  .collat-para {
    font-size: 18px;
    line-height: 28px;
  }
  .collat {
    font-size: 48px;
  }
  .savingsSection2 {
    padding: 4em 0em;
  }
  .savings-para {
    font-size: 18px;
    line-height: 28px;
    /* font-size: 16px; */
  }
  .savingsText {
    font-size: 48px;
    line-height: 50px;
  }
  .savingsSection {
    padding: 4em 0em;
  }

  .discountSection {
    padding: 4em 0em;
  }
  .discountTxt {
    font-size: 48px;
    line-height: 50px;
  }
  .discount-para {
    /* font-size: 14px; */
    font-size: 18px;
    line-height: 28px;
  }

  .atmCards {
    padding: 4em 0em;
  }
  .egr {
    font-size: 48px;
  }
  .atmCardsTxt {
    font-size: 48px;
    line-height: 50px;
  }
  .atmCards-para {
    font-size: 18px;
    line-height: 28px;
  }
  /* compare section */
}
@media screen and (max-width: 565px) {
  /* .gtheroSection {
    padding: 4em 2em;
  } */
  .gtsupport {
    font-size: 16px;
    margin-right: 10px;
  }
  .gtheroSection {
    padding: 10em 0em;
    padding-bottom: 4em;
  }
  /* .gtdebitCard {
    width: 165px;
    right: -49px;
  } */
  /* .gtheroPhone {
    width: 165px;
  } */
  /* .heroPhone {
    width: 300px;
    margin-right: 0px;
  } */
  .gtcard1,
  .gtcard2 {
    padding: 2em 1em 1em 1em;
  }
  .gthowItWorks {
    padding: 3em 1em;
  }
  .gtsecondDots {
    width: 20%;
  }
  .gtprojectsSection {
    padding: 2em;
  }
  .gtegg {
    right: -80px;
  }
  /* compare section */
  .gtcompareSection {
    padding: 4em 1em;
  }

  .collat-para {
    font-size: 16px;
    line-height: 28px;
  }
  .savings-para {
    font-size: 16px;
    line-height: 28px;
    /* font-size: 16px; */
  }
  .discount-para {
    /* font-size: 14px; */
    font-size: 16px;
    line-height: 28px;
  }
  .atmCards-para {
    font-size: 16px;
    line-height: 28px;
  }
  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    width: 90%;
  }
  .gthowItWorksBtns {
    width: 60%;
  }

  .gtexploreSection {
    padding: 2em 0em;
  }
  /* compare section */
}

/* 2nd break point ========================================= */
@media screen and (max-width: 463px) {
  .gtheroTitleloan {
    font-size: 38px;
  }
  .interestFree2 {
    font-size: 38px;
  }
  .gtbottomCards {
    display: none;
  }
  .gtcard1,
  .gtcard2 {
    padding: 3em 2em 3em 2em;
    width: 80%;
    margin: auto;
  }
  .gtheroCard {
    display: flex;
  }
  .gtbenefitsSection {
    padding: 4em 0em;
  }
  /* compare section */
  .cardContentTitles {
    font-size: 14px;
  }

  .gteggShape {
    width: 410px;
    bottom: 10px;
    right: -109px;
  }
  .gtheroPhone {
    width: 150px;
  }
  .gtdebitCard {
    right: -78px;
    top: -1px;
    width: 160px;
  }
  .gtheroPara {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 0em 2em;
  }

  .collateral-txt {
    font-size: 36px;
    line-height: 50px;
  }
  .collat {
    font-size: 36px;
  }

  .egr {
    font-size: 36px;
  }
  .savingsText {
    font-size: 36px;
  }
  .savings-para {
    padding: 0em 1em;
  }
  .discountTxt {
    font-size: 36px;
  }
  .atmCardsTxt {
    font-size: 36px;
    line-height: 50px;
  }
  .gtcompareSection {
    padding: 4em 0em;
  }
  .gttitle {
    font-size: 36px;
  }
  .collat-para {
    font-size: 16px;
    line-height: 28px;
    padding: 0em 1em;
  }
  .gtcompareDots {
    top: -139px;
    width: 100px;
  }
  .gtexploreLink {
    margin-top: 50px;
    transition: 0.5s ease-in-out;
  }
  .gtgood {
    font-size: 40px;
    font-weight: 500;
  }
  /* collateral assets section start */
  .assets-header1 {
    width: 50%;
    font-size: 14px;
    padding: 0.5em 0.5em;
  }
  .assets-header2 {
    width: 50%;
    font-size: 14px;
    padding: 0.5em 0.5em;
  }
  /* collateral assets section end */
}
/* compare section */

@media screen and (max-width: 432px) {
  .gtheroTitle {
    font-size: 32px;
  }
  .gtheroSection {
    padding: 7em 0em;
    padding-bottom: 2em;
  }
  .gtheroPara {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 0em 3em;
  }
  .gtconnect {
    padding: 0.5em 2em;
    font-size: 16px;
  }
  .gtcircle {
    width: 40px;
    top: -57px;
    left: -51px;
  }
  .gtgreenCircle {
    position: absolute;
    bottom: 15%;
    right: -41px;
  }
  .gtx {
    left: -73px;
  }

  .gtdebitCard {
    right: -42px;
    top: 5px;
    width: 134px;
  }
  .gtheroPhone {
    width: 128px;
  }
  .gteggShape {
    width: 314px;
    bottom: 8px;
    right: -60px;
  }
  .collat-circle {
    width: 236px;
    left: 52px;
    bottom: 10px;
  }
  .collat-vector {
    width: 350px;
  }
  .collat-para {
    font-size: 14px;
    line-height: 25px;
    padding: 0;
  }
  .gthowItWorksTitle {
    margin-bottom: 0px;
  }
  .gthowCard1TextsP,
  .gthowCard2TextsP,
  .gthowCard3TextsP,
  .howCard1TextsP,
  .howCard2TextsP,
  .howCard3TextsP {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #7e7e7e;
  }
  .gthowCard1Texts,
  .gthowCard2Texts,
  .gthowCard3Texts {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }
  .gthowItWorksBtns {
    width: 65%;
  }
  .gtbCardPara {
    font-size: 14px;
  }

  .gtbCardTitle {
    font-size: 26px;
  }

  .savingsText {
    font-size: 36px;
  }
  .discount-para {
    font-size: 14px;
    /* font-size: 16px; */
    line-height: 25px;
  }
  .egr {
    font-size: 36px;
  }
  .gtgetStartedButton {
    width: 40%;
  }
  .savings-para {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 0;
    /* font-size: 16px; */
  }

  .blockChain {
    width: 300px;
  }
  .discountTxt {
    font-size: 36px;
  }
  .discountCard {
    width: 130px;
  }
  .discountCircle {
    width: 290px;
  }
  .discountVector {
    width: 230px;
  }
  .atmCardsTxt {
    font-size: 36px;
    line-height: 50px;
  }
  .atmCards-para {
    font-size: 14px;
    line-height: 25px;
  }
  .atmCards {
    padding: 4em 0em;
  }
  .savingsSection {
    padding: 4em 0em;
  }
  .atmcard-Image {
    width: 300px;
  }
  .savingsCircle {
    width: 290px;
  }

  .savingsVector {
    width: 280px;
  }

  .savingsMoney {
    width: 140px;
    right: 113px;
  }
  /* .gthowItWorksBtns {
    width: 80%;
    margin-top: 20px;
  } */

  /* benefits section */
  /* .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    padding: 1em;
  } */
  /* benefits section */

  /* stories section */

  .gtseemoreStoriesbtn {
    font-size: 10px;
  }
  /* stories section */

  .gtpartnersSection {
    padding: 2em 0em;
    position: relative;
  }

  .gteggShape2 {
    width: 30%;
  }

  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    width: 95%;
  }
  .gtbenefitCard2,
  .gtbenefitCard1,
  .gtbenefitCard3,
  .gtbenefitCard4 {
    height: 100%;
  }
  .gtleftBack {
    width: 250px;
  }
}
/* 3rd break point ========================================= */
@media screen and (max-width: 390px) {
  .gtheroPara {
    padding: 0em 0em;
  }

  .collat-circle {
    width: 180px;
    left: 46px;
    bottom: 7px;
  }
  .collat-vector {
    width: 280px;
  }

  .gthowItWorksBtns {
    width: 90%;
  }
  /* compare section */
  .compareCardContent1 {
    padding-left: 6em;
  }
  .compareCardContent2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .cardContentTxt {
    font-size: 10px;
  }

  .compareCardContent1 {
    padding-right: 0em;
  }

  .Content {
    width: 60px;
  }
  /* compare section */
}

@media screen and (max-width: 320px) {
}

/* 4th break point ========================================= */

@media screen and (max-width: 300px) {
}

/* last break point ========================================= */
@media screen and (max-width: 240px) {
}

/* mobile view code end */
