/* mobile view code start */
/* first break point ========================================= */
@media screen and (max-width: 1245px) {
  /* header Section Start */
  .headerSection {
    padding: 1em 0em;
  }
  .egr-logo {
    width: 150px;
  }

  .activeLink {
    font-size: 13px;
  }
  .explore,
  .docs,
  .about,
  .metrics {
    font-size: 13px;
  }

  .getLoan {
    font-size: 13px;
  }

  .connect {
    font-size: 13px;
  }
  /* header Section end */
}

@media screen and (max-width: 1024px) {
  .headerButtons {
    padding-left: 0;
  }

  .container.header {
    max-width: 957px;
  }
}

@media screen and (max-width: 950px) {
  .explore,
  .docs,
  .about,
  .metrics {
    margin-right: 10px;
  }
}

@media screen and (max-width: 869px) {
  .onMobile {
    display: grid;
    width: 10px !important;
    padding: 0 !important;
  }
  .hideNow {
    display: grid !important;
    width: 10px !important;
    padding: 0 !important;
  }

  #HideAgain {
    width: 10px !important;
    padding: 0 !important;
  }

  .egr-logo2 {
    display: block;
  }
  .headerLinks {
    display: none;
  }
  .headerButtons {
    display: none;
  }

  .headerSection {
    padding: 1em 0.5em;
  }
}

@media screen and (max-width: 645px) {
  .headerSection {
    padding: 1em 0em;
  }
}

@media screen and (max-width: 463px) {
  .hamburgerOpen {
    width: 5%;
  }
  .egr-logo {
    width: 100px;
  }
  .egr-logo2 {
    width: 100px;
  }
}
