/* mobile view code start */
/* first break point ========================================= */
@media screen and (max-width: 1245px) {
  /* hero  Section Start */
  .heroSection {
    padding: 6em 0em;
  }
  .heroTitle {
    font-size: 45px;
  }
  .heroCaption {
    font-size: 12px;
  }
  .heroPara {
    font-size: 11px;
  }
  .heroBtn {
    font-size: 12px;
  }

  .eggShape {
    width: 450px;
  }
  /* .card-amount {
    width: 60%;
    left: 0;
  } */
  .dots {
    width: 200px;
  }

  .card1,
  .card2 {
    padding: 4em 2em 2em 2em;
  }
  .support {
    font-size: 18px;
  }

  .blurDrop {
    width: 450px;
  }
  /* hero  Section end */

  /* how it works section start */

  .title {
    font-size: 36px;
  }

  .btn1,
  .btn2 {
    font-size: 12px;
  }
  .btn1.active {
    font-size: 12px;
  }

  .getStartedButton {
    font-size: 12px;
  }

  /* how it works section end */

  /* Projects section start */

  .pTitle {
    font-size: 30px;
  }

  .projectsPara {
    font-size: 14px;
  }

  .projectsLink {
    font-size: 14px;
  }

  .caroImg {
    width: 250px;
  }

  .cardHeader {
    font-size: 14px;
  }

  .cardPara {
    font-size: 12px;
  }

  /* Projects section end */

  /* benefits section start */

  .benefitsSection {
    padding: 6em 0em;
  }
  .benefitsSection .container-md,
  .container-sm,
  .container {
    max-width: 1095px;
  }

  .bCardTitle {
    font-size: 14px;
  }

  .bCardPara {
    font-size: 10px;
  }

  .bIcon {
    width: 50px;
  }
  /* benefits section end */

  /* stories section */

  .seemoreStoriesbtn {
    font-size: 14px;
  }
  /* stories section */

  /* partners section start */

  .howItWorksTitle {
    margin-bottom: 100px;
  }
  /* partners section end */

  /* token section start */

  .mainToken {
    width: 60px;
  }

  .tokenCard1Para {
    font-size: 11px;
    margin-top: 0;
  }

  .tokenCard1Heading {
    font-size: 24px;
  }

  .tokenArea {
    padding: 0;
  }
  /* token section end */
}

@media screen and (max-width: 1220px) {
  .img-sub {
    height: 250px !important;
    background-size: cover !important;
  }
  .img {
    position: relative;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* hero section start */
  .bottomCards {
    width: 70%;
  }

  /* hero section end */

  .benefitsSection .container-md,
  .container-sm,
  .container {
    max-width: 900px;
  }

  /* how it works section start */
  .howItWorksBtns {
    width: 40%;
  }
  /* how it works section end */
  .img-sub {
    height: 250px !important;
    background-size: cover !important;
  }
  .img {
    position: relative;
    height: 100%;
  }

  /* benefit section start */
  .benefitCard2,
  .benefitCard1,
  .benefitCard3,
  .benefitCard4 {
    padding: 1em;
  }
  /* benefit section end */
}

@media screen and (max-width: 950px) {
  /* hero section start */
  .heroSection {
    padding: 4em 0em;
  }

  .eggShape {
    width: 400px;
  }
  /* .card-amount {
    width: 60%;
    left: 0;
  } */
  .dots {
    width: 200px;
  }
  .blurDrop {
    width: 400px;
  }
  /* hero section end */

  /* how it works section start */
  .howItWorksBtns {
    width: 50%;
  }

  /* how it works section end */

  /* benefits section start */
  .bCardTitle {
    font-size: 12px;
  }

  .bCardPara {
    font-size: 9px;
  }
  /* benefits section start */
  /* token section start */
  /* .tokenSection {
  } */

  .tokenDots {
    width: 120px;
  }
  /* token section end */
}

@media screen and (max-width: 869px) {
  /* hero section start */
  .heroArea {
    display: grid;
    position: relative;
    /* flex-flow: column; */
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
    grid-row-gap: 100px;
  }
  .bottomCards {
    width: 85%;
  }
  /*  */
  .howItWorksArea {
    display: grid;
    grid-row-gap: 50px;
  }
  .getStartedButton {
    width: 25%;
  }
  /* how it works section end */

  /* benefits sectio  start */

  .benefitsArea {
    display: grid;
    justify-content: center;
  }
  .bCardPara {
    font-size: 14px;
  }
  .bCardTitle {
    font-size: 20px;
  }
  /* benefits sectio  end */

  /* token secion  start */

  .tokenArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-row-gap: 20px;
  }
  .tokenCard1 {
    padding: 0;
    transition: 0.01s linear;
  }
  /* token secion  end */

  /* explore section start */
  .exploreShape {
    width: 60%;
  }
  .exploreArea {
    padding: 2em;

    height: 20%;
  }
  /* explore section end */
}

@media screen and (max-width: 800px) {
  .img-sub {
    height: 330px !important;
    background-size: cover !important;
  }
  .img {
    position: relative;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* hero section start */

  .loanDetailsLine {
    margin: auto;
  }
  .loanDetailsSection {
    text-align: center;
  }

  .hero-images {
    margin-left: 0;
  }

  .eggShape {
    width: 460px;
    right: -149px;
  }
  .dots {
    width: 200px;
  }

  /* hero section end */

  /* how it works section start */
  .howItWorksBtns {
    width: 70%;
  }
  .btn1,
  .btn2 {
    font-size: 10px;
  }
  .btn1.active {
    font-size: 10px;
  }
  /* how it works section end */
  .img-sub {
    height: 300px !important;
    background-size: cover !important;
  }
  .img {
    position: relative;
    height: 100%;
  }
  /* projects section start */

  .caroImg {
    width: 200px;
    height: 150px;
  }

  .projectsSection {
    padding: 4em 0em;
  }
  /* projects section end */

  /* partners area start */
  .PartnersArea {
    padding: 0em;
  }

  .soriana {
    width: 130px;
  }
  .nec {
    width: 100px;
  }
  .teamCaro {
    align-items: center;
  }

  /* partners area end */
}
@media screen and (max-width: 645px) {
  /* hero section start */
  .card1,
  .card2 {
    padding: 4em 1em 2em 1em;
  }
  .eggShape {
    width: 460px;
    bottom: -1px;
    right: -136px;
  }

  .hero-images {
    position: relative;
    margin-right: 0;
  }

  .amount {
    font-size: 12px;
  }
  /* hero section end */

  .howItWorksBtns {
    padding: 0.5em 0.25em;
  }

  .getStartedButton {
    width: 40%;
  }
  .rightBack {
    width: 60%;
  }

  .leftBack {
    width: 50%;
  }
  .projectsLink {
    font-size: 12px;
  }
  .img-sub {
    height: 250px !important;
    background-size: cover !important;
  }
  .img {
    position: relative;
    height: 100%;
  }
  /* stories section */

  .seemoreStoriesbtn {
    font-size: 12px;
  }
  /* stories section */
  .good {
    font-size: 30px;
  }

  .exploreLink {
    margin-top: 25%;
  }

  .exploreLoansbtn {
    font-size: 12px;
  }

  .footerSection {
    padding: 3em 0em;
  }
  .projectsTitleContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .projectsLine {
    margin: auto;
  }
}
@media screen and (max-width: 565px) {
  .heroSection {
    padding: 4em 0em;
  }
  .support {
    font-size: 16px;
    margin-right: 10px;
  }
  /* .heroPhone {
    width: 300px;
    margin-right: 0px;
  } */
  .card1,
  .card2 {
    padding: 2em 1em 1em 1em;
  }
  .howItWorks {
    padding: 5em 0em;
  }
  .secondDots {
    width: 20%;
  }
  .projectsSection {
    padding: 0em;
  }
  .egg {
    right: -80px;
  }

  .img-sub {
    height: 220px !important;
    background-size: cover !important;
  }
}
@media screen and (max-width: 500px) {
  .img-sub {
    height: 385px !important;
    background-size: cover !important;
  }
}

/* 2nd break point ========================================= */
@media screen and (max-width: 463px) {
  .eggShape {
    width: 375px;
    bottom: -1px;
    right: -120px;
  }

  .bottomCards {
    display: none;
  }
  .card1,
  .card2 {
    padding: 3em 2em 3em 2em;
    width: 80%;
    margin: auto;
  }
  .heroCard {
    display: flex;
  }
}

@media screen and (max-width: 440px) {
  .img-sub {
    height: 350px !important;
    background-size: cover !important;
  }
}
@media screen and (max-width: 432px) {
  .heroTitle {
    font-size: 32px;
  }

  .eggShape {
    width: 314px;
    bottom: -1px;
    right: -93px;
  }
  /* .card-amount {
    width: 80%;
    left: 0;
  } */
  .howItWorksTitle {
    margin-bottom: 50px;
  }
  .howItWorksBtns {
    width: 80%;
    margin-top: 20px;
  }

  .projectsSection {
    padding: 2em 0em;
  }

  .pTitle {
    font-size: 24px;
  }
  .projectsLink {
    font-size: 10px;
  }

  /* stories section */

  .seemoreStoriesbtn {
    font-size: 10px;
  }
  /* stories section */

  .partnersSection {
    padding: 3em 0em;
    position: relative;
  }

  .exploreSection {
    padding: 3em 0em;
  }
  .eggShape2 {
    width: 30%;
  }
}

/* 3rd break point ========================================= */
@media screen and (max-width: 390px) {
  /* .heroPhone {
    width: 150px;
  }

  .eggShape {
    width: 250px;
    right: -72px;
  } */

  /* .dots {
    width: 150px;
    left: -30px;
  } */
  .card1,
  .card2 {
    padding: 2em 1em 2em 1em;
  }
  /* .eggShape {
    right: -22px;
  } */
  .howItWorksBtns {
    width: 100%;
  }

  .btn1,
  .btn2 {
    padding: 0.5em 1em;
  }
  .btn1.active {
    padding: 0.5em 1em;
  }

  .getStartedButton {
    font-size: 10px;
    width: 50%;
  }

  .exploreLoansbtn {
    font-size: 12px;
    padding: 0.5em 1em;
  }

  .pTitle {
    font-size: 18px;
  }
  .projectsPara {
    font-size: 12px;
  }
  .projectsLink {
    font-size: 8px;
  }
  .img-sub {
    height: 309px !important;
    background-size: cover !important;
  }
  /* stories section */

  .seemoreStoriesbtn {
    font-size: 8px;
  }
  /* stories section */
}

@media screen and (max-width: 350px) {
  .img-sub {
    height: 270px !important;
    background-size: cover !important;
  }
}

@media screen and (max-width: 320px) {
}

/* 4th break point ========================================= */

@media screen and (max-width: 300px) {
}

/* last break point ========================================= */
@media screen and (max-width: 240px) {
}

/* mobile view code end */
