/* .exploreLoanSection{
    padding:0px 20px;
} */
.exploreLoansHeader {
  margin-top: 120px;
  padding: 0px 25px 20px;
  max-width: 1200px;
  margin: 120px auto 18px auto;
}
.exploreLoansH1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.exploreLoansP {
  font-size: 14px;
  font-weight: 700;
  color: #e7a98a;
}
.exploreLoansInsideDiv2 {
  margin-top: 30px;
}
.imgSrc {
  width: 100%;
}
.section1Sec {
  padding: 0px 25px 20px;
  max-width: 1325px;
  margin: 45px auto 45px auto;
}
.selectOption {
  outline: none;
  border: 0;
  border: 1px solid #c9c7c6;
  padding: 13px 7px;
  width: 170px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 23px;
  letter-spacing: 0.005em;
  /* color:#a29a9a; */
  color: #363434;
  font-family: "Open Sans", sans-serif;
}

.selectOption > option {
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  color: #363434;
  font-size: 13px;
}

/* .selectOption >option:hover{
background-color: #229e54;
color: #fff;
} */

.interestRange {
  font-size: 10px;
  color: #c9c7c6;
  font-weight: 700;
  margin-bottom: 7px;
}
.divHab {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.calDiv {
  display: flex;
  align-items: center;
  border: 1px solid #c9c7c6;
  border-radius: 8px;
  padding: 3px 5px;
  margin-top: 9px;
}
.calNumber {
  width: 110px;
  text-align: center;
  padding: 13px 5px;
  outline: none;
  border: 0px;
  font-size: 10px;
}
.calInnerDiv {
  width: 1px;
  height: 25px;
  background-color: #c9c7c6;
}
.labPer {
  font-size: 10px;
  color: #c9c7c6;
  margin-left: 8px;
  padding-top: 8px;
}
.statusLabel {
  font-size: 10px;
  color: #c9c7c6;
  font-weight: 700;
}
.divButtonHolders {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid #bbe4cb;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 5px;
}
.calButtonLink {
  border: 0px;
  padding: 10px 22px;
  background-color: #fff;
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px;
}

.addBackground {
  background-color: #55bc7e;
  color: #fff;
}
.exploreLoanSection2 {
  position: relative;
}
.calButtonLink:hover {
  background-color: #e4a788;
  color: #fff;
}
.farmyardImg {
  width: 100%;
  border-radius: 8px;
  /* height: 200px;  */
  height: 100%;
  object-fit: cover;
}
.exploreLoanSection2 {
  position: relative;

  width: 290px;
  height: auto;
  /* box-shadow: 1px 2px 2px 2px #e6e6e76e;     */
  /* padding: 2px 10px 30px 10px; */
  box-shadow: 9px 6px 22px 0 rgb(0 0 0 / 8%);
  border-radius: 7px;
  padding-bottom: 25px;

  margin: 30px auto 45px auto;
}

.exploreLoanSection2:hover {
  transform: scale(1.1);
  /* box-shadow: 1px 2px 2px 2px #e6e6e76e;  */
}
.diff {
  width: 90%;
}
/* .exploreLoanSection2:hover{
     box-shadow: 0px 2px 10px #e6e6e76e; 
} */

.DivIMG {
  width: 290px;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin: 0px auto;
}
/* .section2DivHolder_img{
   padding:0px 25px 20px; 

} */

.retailButton {
  position: absolute;
  border: none;
  /* border:1px solid #fff; */
  /* border:1px solid #229e54;  */
  top: -20px;
  right: -8px;
  padding: 8px 10px;
  border-radius: 5px;
  color: #229e54;
  box-shadow: 0px 2px 10px #302c2c1f;
  background-color: #fff;
  font-size: 12px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.pTag {
  position: absolute;
  left: 15px;
  /* bottom:70px; */
  top: 70%;

  border: 1px solid #229e54;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #fff;
  /* color:#edb18e; */
  color: #229e54;
  font-size: 13px;
}
.forIdentity {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
  color: black;
}
.calButtonLink:active {
  background-color: #55bc7e;
  color: #fff;
}
.interestSpan {
  font-size: 11px;
  /* color:#c9c7c6; */
  color: #ada8a6;
  font-weight: 600;
}
.percentageSpan {
  font-size: 11px;
  color: #807f7f;
  /* color:#5c5959; */
  font-weight: bold;
}
.Holder {
  display: flex;
  align-items: center;
  margin-top: -40px;
  max-width: 1400px;
  margin: auto;
}
.buttonNextDivL {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextButton1 {
  border: 0px;
  padding: 12px 17px;
  color: black;
  margin-right: 10px;
  background-color: #fff;
}

.nextButton1 {
  border: 1px solid #c9c7c6;
  border-radius: 10px;
}
.nextButton {
  font-weight: 600;
}
.nextButton1:hover {
  background-color: #55bc7e;
  color: #fff;
}
/* .nextButton1:hover{
    color:#fff;
      background-color: #55bc7e;
} */

.nextButton1 {
  color: black;
  text-decoration: none;
}
.nextButton {
  color: #55bc7e;
  text-decoration: none;
}

.SideImg {
  margin-right: 20px;
}
.FooterDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.footerP {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #494542;
}
.footerP1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footerEmail {
  color: #55bc7e;
  font-size: 13px;
}
.carWidth {
  width: 100%;
  height: 200px;
  border-radius: 0px !important;
}

.footerDivImgVideo {
  margin-bottom: 60px;
}
@media (min-width: 375px) {
  .exploreLoanSection2 {
    width: 338px;
  }
  .DivIMG {
    width: 275px;
    height: 275px;
  }
  .forIdentity {
    font-size: 20px;
  }
}
@media (min-width: 425px) {
  .exploreLoanSection2 {
    width: 376px;
  }
  .DivIMG {
    width: 310px;
    height: 310px;
  }
  .forIdentity {
    font-size: 22px;
  }
}

@media (min-width: 600px) {
  .exploreLoansHeader {
    padding: 0px 25px;
  }
  .exploreLoansHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
  .footerP {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #494542;
  }
  .footerP1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footerEmail {
    color: #55bc7e;
    font-size: 13px;
  }
  .carWidth {
    width: 100%;
    height: 200px;
    border-radius: 0px !important;
  }

  .footerDivImgVideo {
    margin-bottom: 60px;
  }

  @media (min-width: 375px) {
    .exploreLoanSection2 {
      width: 338px;
    }
    .DivIMG {
      width: 338px;
      height: 338px;
    }
    .forIdentity {
      font-size: 20px;
    }
  }
  @media (min-width: 425px) {
    .exploreLoanSection2 {
      width: 376px;
    }
    .DivIMG {
      width: 376px;
      height: 376px;
    }
    .forIdentity {
      font-size: 22px;
    }
  }

  @media (min-width: 600px) {
    .exploreLoansHeader {
      padding: 0px 25px;
    }
    .exploreLoansHeader {
      display: flex;
      align-items: center;
    }
    .exploreLoansInsideDiv1 {
      flex: 1;
    }
    .exploreLoansInsideDiv2 {
      flex: 1;
    }
    .exploreLoansH1 {
      font-size: 45px;
    }
    .carWidth {
      height: 350px;
    }
    .exploreLoanSection2 {
      width: 266px;
    }
    .DivIMG {
      width: 266px;
      height: 266px;
    }
  }

  @media (min-width: 600px) {
    .section2DivHolder_img {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
    }
    .section2DivHolder_img {
      margin-top: 25px;
    }
  }
  @media (max-width: 600px) {
    .selectOption {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .exploreLoanSection2 {
      width: 342px;
    }

    .DivIMG {
      width: 342px;
      height: 342px;
    }
  }

  @media (min-width: 801px) {
    .exploreLoansH1 {
      font-size: 58px;
    }
    .exploreLoansHeader {
      padding: 0px 60px;
    }

    .section1Sec {
      display: flex;
      padding: 0px 60px;
    }

    .interestRangeDivL {
      display: flex;
      align-items: center;
    }
    .interestRange {
      margin-right: 10px;
    }

    .linkDivMin {
      flex: 1;
    }
    .loansPartner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .section1Sec {
      margin-top: 45px;
    }
    .calculatorDivForm {
      margin-top: 10px;
    }
    .calButtonLink {
      padding: 10px 17px;
    }
    .statusLabel {
      margin-right: 10px;
    }
  }

  @media (min-width: 992px) {
    .calNumber {
      width: 90px;
    }
    .interestRange {
      margin-left: 8px;
    }
    .calculatorDiv {
      flex: 1;
    }
    .calculatorDiv {
      display: flex;
      justify-content: space-between;
    }
    .section2DivHolder_img {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 10px;
    }
    .exploreLoanSection2 {
      width: 288px;
    }
  }
  .DivIMG {
    width: 288px;
    height: 288px;
  }
}
@media (min-width: 1024px) {
  .section2DivHolder_img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    /* padding:0px 60px; */
  }
  .selectOption {
    width: 240px;
  }
  .section2DivHolder_img {
    margin-top: 70px;
  }

  .exploreLoanSection2 {
    margin-bottom: 65px;
    width: 200px;
  }
  .forIdentity {
    font-size: 20px;
  }
  .DivIMG {
    width: 200px;
    height: 200px;
  }

  .carWidth {
    height: 550px;
    margin-bottom: 50px;
  }
  .pTag {
    top: 68%;
  }
}
@media (min-width: 1250px) {
  .calButtonLink {
    padding: 10px 24px;
  }
  .section2DivHolder_img {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    max-width: 1325px;
    margin: auto;
    /* padding:0px 60px; */
  }
  .exploreLoanSection2 {
    width: 222px;
  }
  .DivIMG {
    width: 222px;
    height: 222px;
  }

  @media (min-width: 321px) {
    .farmyardImg {
      /* height:210px; */
      height: 100%;
    }
  }
  @media (min-width: 992px) {
    .farmyardImg {
      height: 220px;
    }
  }
  @media (min-width: 1025px) {
    .farmyardImg {
      height: 225px;
    }
  }
}
